@import "../css/reset.css";
@import "../css/fonts.css";

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-family: Nunito, sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.5;
	color: #434343;
}

button {
	font: inherit;
	cursor: pointer;
}

h2 {
	font-weight: inherit;
}

.header {
	background-color: #296C82;
	padding-top: 13px;
	padding-bottom: 13px;
}

.header__container {
	padding: 0 30px;
	max-width: 1140px;
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-between;

}

.header__title {
	font-size: 30px;
	font-weight: 900;
	color: #FFFFFF;
	text-transform: uppercase;
}

.main {
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	padding: 60px 30px;
}

.main__title {
	text-align: center;
	font-weight: 300;
	font-size: 50px;
	margin-bottom: 30px;
}

.main__box {
	margin: 0 auto;
	max-width: 800px;
	height: 420px;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
}

.main__subtitle {
	font-size: 26px;
	text-align: center;
	margin-bottom: 60px;
}

.main__subtitle-result {
	margin-bottom: 50px;
}

.main__btn {
	min-width: 230px;
	height: 50px;
	padding: 0 24px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	border: none;
	color: #296C82;
	font-weight: 500;
	font-size: 18px;
	background-color: transparent;
}

.selection {
	padding: 50px;
}

.selection__list {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	max-height: 100%;
}

.selection__list::-webkit-scrollbar {
	width: 6px;
}

.selection__list::-webkit-scrollbar-thumb {
	background: #8C8C8C;
	opacity: 0.1;
	border-radius: 8px;
	height: 228px;
}

.selection__item {
	display: flex;
	margin-bottom: 15px;
}

.selection__item:last-child {
	margin-bottom: 0;
}

.selection__theme {
	width: 100%;
	max-width: 520px;
	background: #F1F9FB;
	border-radius: 12px;
	border: none;
	font-size: 22px;
	font-weight: 500;
	text-align: left;
	padding: 16px 20px;
	overflow: hidden;
}

.selection__theme:not(:last-child) {
	margin-right: 20px;
}

.selection__result {
	max-width: 63px;
	text-align: center;
}

.selection__result-ratio {
	display: block;
	font-weight: 600;
	font-size: 22px;
	color: #296C82;
}

.selection__result-text {
	display: block;
	font-weight: 300;
	font-size: 12px;
	color: #8C8C8C;
	line-height: 110%;
}

.main__box-question {
	padding: 60px 120px;
}