@import "../css/fonts.css";
@import "../css/reset.css";


html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-family: Nunito, sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.5;
	color: #434343;
}

button {
	font: inherit;
	cursor: pointer;
}

h2 {
	font-weight: inherit;
}

.header {
	background-color: #296C82;
	padding-top: 13px;
	padding-bottom: 13px;
}

.header__container {
	padding: 0 30px;
	max-width: 1140px;
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-between;

}

.header__title {
	font-size: 30px;
	font-weight: 900;
	color: #FFFFFF;
	text-transform: uppercase;
}

.main {
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	padding: 60px 30px;
}

.main__title {
	text-align: center;
	font-weight: 300;
	font-size: 50px;
	margin-bottom: 30px;
}

.main__box {
	margin: 0 auto;
	max-width: 800px;
	height: 420px;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
}

.main__subtitle {
	font-size: 26px;
	text-align: center;
	margin-bottom: 60px;
}

.main__subtitle-result {
	margin-bottom: 50px;
}

.main__btn {
	min-width: 230px;
	height: 50px;
	padding: 0 24px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	border: none;
	color: #296C82;
	font-weight: 500;
	font-size: 18px;
	background-color: transparent;
	display: block;
	margin: 0 auto;
}

.selection {
	padding: 50px;
}

.selection__list {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	max-height: 100%;
	scrollbar-color: rgba(140, 140, 140, 0.1);
	scrollbar-width: thin;
}

.selection__list::-webkit-scrollbar {
	width: 6px;
}

.selection__list::-webkit-scrollbar-thumb {
	background: rgba(140, 140, 140, 0.1);
	border-radius: 8px;
}

.selection__item {
	display: flex;
	margin-bottom: 15px;
}

.selection__item:last-child {
	margin-bottom: 0;
}

.selection__theme {
	width: 100%;
	max-width: 520px;
	background: #F1F9FB;
	border-radius: 12px;
	border: none;
	font-size: 22px;
	font-weight: 500;
	text-align: left;
	padding: 16px 20px;
	overflow: hidden;
}

.selection__theme:not(:last-child) {
	margin-right: 20px;
}

.selection__result {
	width: min-content;
	text-align: center;
}

.selection__result-ratio {
	display: block;
	font-weight: 600;
	font-size: 22px;
	color: #296C82;
}

.selection__result-text {
	display: block;
	font-weight: 300;
	font-size: 12px;
	color: #8C8C8C;
	line-height: 110%;
}

.main__box-question {
	padding: 60px 120px;
}

.main__box-question {
	padding: 60px 120px;
	height: auto;
	min-height: 540px;
}

.main__form-question {
	position: relative;
}

.main__form-question::after {
	content: attr(data-count);
	position: absolute;
	bottom: 0;
	right: 0;
	font-weight: 300;
	font-size: 18px;
	color: #8C8C8C;
}

.answer {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 26px;
	font-weight: 500;
	font-size: 18px;
	padding-left: 65px;
}

.answer__checkbox {
	position: absolute;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 40px;
	height: 40px;
	margin: 0 0 0 -65px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
}

.answer__checkbox::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 40px;
	height: 40px;
}

.answer__checkbox::after {
	content: '';
	position: absolute;
	top: 15px;
	left: 12px;
	height: 8px;
	width: 17px;
	border: 2px solid #434343;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
	opacity: 0;
	transition: opacity 0.20s ease;
}

.answer__checkbox:checked:after {
	opacity: 1;
}

.answer__checkbox:focus:before,
.answer__checkbox:hover:before {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
}

.answer__radio {
	position: absolute;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 40px;
	height: 40px;
	margin: 0 0 0 -65px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.answer__radio::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 40px;
	height: 40px;
}

.answer__radio::after {
	content: '';
	position: relative;
	z-index: inherit;
	height: 14px;
	width: 14px;
	background-color: #434343;
	opacity: 0;
	transition: opacity 0.20s ease;
	border-radius: 50%;
}

.answer__radio:checked:after {
	opacity: 1;
}

.answer__radio:focus:before,
.answer__radio:hover:before {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
	border-radius: 50%;
}

.main__box-result {
	padding: 60px;
	display: flex;
	height: auto;
	min-height: 420px;
	flex-direction: column;
	align-items: center;
	margin-bottom: auto;
}

.result__box {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.result__ratio {
	width: 127px;
	height: 127px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #49F050;
	border-radius: 50%;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 32px;
	margin-bottom: 19px;
}

.result__ratio_1 {
	background-color: #DC1C1C;
}

.result__ratio_2 {
	background-color: #EFCF24;
}

.result__ratio_3 {

	background-color: #49F050;
}

.result__text {
	color: #434343;
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 109px;
}


@media (max-width: 1024px) {
	.selection__list {
		padding-right: 30px;
	}

	.selection__theme {
		font-size: 20px;
	}
}

@media (max-width: 768px) {
	.header__container {
		padding: 0 20px;
	}

	.main {
		padding: 40px 20px;
	}

	.main__title {
		font-size: 34px;
	}

	.main__box {
		padding: 40px;
	}
}